/* Shadcn UI Light Theme */
:root {
  --radius: 0.5rem;
  --background: var(--colors-common-white);
  --foreground: var(--colors-common-black);
  --card: var(--colors-common-white);
  --card-foreground: var(--colors-common-black);
  --popover: var(--colors-common-white);
  --popover-foreground: var(--colors-common-black);
  --primary: var(--colors-palette-primary-default);
  --primary-foreground: var(--colors-palette-primary-lighter);
  --secondary: var(--colors-palette-gray-200);
  --secondary-foreground: var(--colors-palette-gray-600);
  --muted: var(--colors-palette-gray-200);
  --muted-foreground: var(--colors-palette-gray-500);
  --accent: var(--colors-palette-gray-200);
  --accent-foreground: var(--colors-palette-gray-600);
  --destructive: var(--colors-palette-error-default);
  --border: rgba(var(--colors-palette-gray-500Channel) / var(--opacity-border));
  --input: rgba(var(--colors-palette-gray-500Channel) / var(--opacity-border));
  --ring: var(--colors-palette-primary-default);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--colors-background-sidebar);
  --sidebar-foreground: var(--colors-palette-gray-800);
  --sidebar-primary: var(--colors-palette-primary-default);
  --sidebar-primary-foreground: var(--colors-palette-primary-lighter);
  --sidebar-accent: var(--colors-background-sidebar-accent);
  --sidebar-accent-foreground: var(--colors-palette-gray-800);
  --sidebar-border: var(--colors-palette-gray-200);
  --sidebar-ring: var(--colors-palette-primary-default);
}

/* Shadcn UI Dark Theme */
[data-theme-mode='dark'] {
  --background: var(--colors-common-black);
  --foreground: var(--colors-common-white);
  --card: var(--colors-common-black);
  --card-foreground: var(--colors-common-white);
  --popover: var(--colors-common-black);
  --popover-foreground: var(--colors-common-white);
  --primary: var(--colors-palette-primary-default);
  --primary-foreground: var(--colors-palette-primary-darker);
  --secondary: var(--colors-background-neutral);
  --secondary-foreground: var(--colors-palette-gray-500);
  --muted: var(--colors-background-neutral);
  --muted-foreground: var(--colors-palette-gray-400);
  --accent: var(--colors-background-neutral);
  --accent-foreground: var(--colors-palette-gray-500);
  --destructive: var(--colors-palette-error-default);
  --border: rgba(var(--colors-palette-gray-500Channel) / var(--opacity-border));
  --input: rgba(var(--colors-palette-gray-500Channel) / var(--opacity-border));
  --ring: var(--colors-palette-primary-default);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--colors-background-sidebar);
  --sidebar-foreground: var(--colors-common-white);
  --sidebar-primary: var(--colors-palette-primary-default);
  --sidebar-primary-foreground: var(--colors-palette-primary-darker);
  --sidebar-accent: var(--colors-background-sidebar-accent);
  --sidebar-accent-foreground: var(--colors-common-white);
  --sidebar-border: rgba(
    var(--colors-palette-gray-500Channel) / var(--opacity-border)
  );
  --sidebar-ring: var(--colors-palette-primary-default);
}

@theme inline {
  --font-inter: 'Inter', 'sans-serif';
  --font-manrope: 'Manrope', 'sans-serif';
}
/* @theme inline {
  --font-inter: 'Inter', 'sans-serif';
  --font-manrope: 'Manrope', 'sans-serif';

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
} */
